.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 5rem 10rem;
  padding: 10rem;
}
.about h1 {
  font-size: 5rem;
}
.about p {
  margin-top: 3rem;
  font-size: 20px;
  text-align: center;
}
